body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.b-cell--icon {
	background-color: #808080;
	border: 2px solid #FFFFFF;
	font-size: 26px;
}